.background    { background: rgb(153, 255, 255);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(102, 0, 0); }
.wall          { background: rgb(255, 178, 102);   }

.floater {background: black;               }

.actor  { position: absolute;  }
.player { background: rgb(72, 1, 64); }
.coin {background:rgb(241,229,89); }
.monster{background:rgb(48,48,48);}
.speedup{background:rgb(13,13,200);}

.game {
  overflow: hidden;
  max-width: 1000px;
  max-height: 650px;
  position: relative;
}
.lost .player {background: rgb(255, 0, 0);}
.won .player {box-shadow: -4px -7px 8px yellow, 4px -7px 8px yellow;}